}

/* Portafolio */
#portafolio {
	padding: 80px 0;
	text-align: center;
}

#portafolio p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.portafolio-row {
	display: flex;
}

.portafolio-row img {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}

/* Sobre Mi */
#Sobre{
	padding: 80px 0;
	text-align: center;
}

#Sobre h2 {
	padding-bottom: 50px;
}

#Sobre p {
	padding-bottom: 20px;
}

/* Contacto */
#contacto {
	padding: 80px 0;
}

#contacto h2 {
	text-align: center;
}

#contacto p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.contacto-row {
	display: flex;
	padding: 20px;
}

.contacto-row-img {
	width: 50%;
}

.contacto-row-img img {
	padding: 120px;
}

.contacto-row-form {
	width: 50%;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
	padding: 70px;
}

.contacto-row-form h4 {
	padding-bottom: 40px;
	text-align: center;
}

.contacto-row-form button {
	width: 100%;
}

/* Footer */
#mainfooter {
	text-align: center;
	padding: 30px;
}
